.content {
  background-color: var(--brand);
  padding: 2.5rem 3.5rem;
  border-radius: 1rem;
  display: grid;
  gap: 2rem;
  width: 70vw;
}

.content-title {
  font-weight: 600;
}

.calendar {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2rem;
  font-weight: 200;
}

.calendar-info {
  background-color: var(--brand-light);
  padding: 1.5rem;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  justify-content: space-between;
}

.info-course b {
  font-weight: 600;
}


/* TUDO PORCENTAGEM  */
.circular-progress {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.circular-progress:before {
  content: "";
  position: absolute;
  height: 80px;
  width: 80px;
  background-color: var(--brand-light);
  border-radius: 50%;
}

.value-container {
  position: relative;
  font-size: 1.5rem;
  font-weight: 600;
}

/*===== MEDIA QUERIES =====*/
@media screen and (max-width: 1220px) {
  .content {
    padding: 2.5rem;
  }

  .calendar-info {
    display: grid;
    gap: 1rem;
    justify-content: center;
    place-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 1150px) {
  main {
    display: flex;
    justify-content: center;
  }

  .content {
    width: 85vw;
    margin: 2.5rem 0;
  }

  .calendar-info {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }
}

@media screen and (max-width: 950px) {
  .content {
    padding: 2.5rem;
  }

  .calendar-info {
    display: grid;
    justify-content: center;
    gap: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .calendar-info {
    display: grid;
  }
}

@media screen and (max-width: 600px) {
  .calendar {
    grid-template-columns: auto;
  }

  .content {
    padding: 1.5rem;
  }

  .calendar-info {
    display: flex;
    gap: 2rem;
    text-align: left;
    justify-content: space-between;
  }

}

@media screen and (max-width: 492px) {
  .content {
    gap: 3.5rem;
  }

  .content-title {
    text-align: center;
  }
}

@media screen and (max-width: 450px) {
  .calendar-info {
    display: grid;
    justify-content: center;
    text-align: center;
  }
}