main {
    display: grid;
    justify-content: center;
}

/*Grade de aulas*/
.content {
    background-color: var(--brand);
    padding: 2.5rem;
    border-radius: 1rem;
    display: grid;
    gap: 2rem;
    width: 70vw;
}

.content-title {
    font-weight: 600;
}

.titulo-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.horarios {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2rem;
}

.horarios div {
    display: grid;
    gap: 0.5rem;
}

.dia {
    font-weight: 500;
    text-align: center;
}

.quadro {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
    background-color: var(--brand-light);
    padding: 1rem;
    text-align: center;
    border-radius: 1rem;
}

.quadro li {
    list-style-type: none;
}

.quadro li b {
    font-weight: 500;
}

.materia {
    color: var(--red);
}

.professores {
    text-decoration: underline;
    width: max-content;
}

.professores:hover {
    color: var(--red);
    text-decoration: underline;
}

@media screen and (max-width: 1150px) {
    .content {
        margin: 2.5rem 0;
        width: 85vw;
    }
}

@media screen and (max-width: 946px) {
    .horarios {
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 675px) {
    .content {
        padding: 2rem;
        width: 80vw;
    }
}

@media screen and (max-width: 657px) {
    .horarios {
        grid-template-columns: auto;
    }
}

@media screen and (max-width: 550px) {
    .content {
        gap: 3.5rem;
    }

    .titulo-link {
        display: grid;
        gap: 1rem;
        justify-content: center;
    }

    .professores {
        justify-self: center;
    }
}

@media screen and (max-width: 425px) {
    .content {
        padding: 1.5rem;
    }
}

@media screen and (max-width: 390px) {
    .link-icon {
        display: none;
    }
}

@media screen and (max-width: 340px) {
    .content-title {
        text-align: center;
    }
}