main {
    display: flex;
    gap: 2rem;
}

/*Grade de aulas*/
.content {
    background-color: var(--brand);
    padding: 2.5rem;
    border-radius: 1rem;
    display: grid;
    gap: 2rem;
}

.content-title {
    font-weight: 600;
}

.titulo-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.horarios {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1.5rem;
}

.quadro {
    display: grid;
    grid-template-columns: max-content auto auto;
    gap: 1rem;
    background-color: var(--brand-light);
    padding: 0.5rem 1rem;
    text-align: center;
    border-radius: 1rem;
}

li {
    list-style-type: none;
}

.dia {
    margin-bottom: 1rem;
    font-weight: 450;
}

.materia {
    color: var(--red);
}

.professores {
    text-decoration: underline;
}

.professores:hover {
    color: var(--red);
    text-decoration: underline;
}

/*Perfil*/
#frequencia {
    width: 20vw;
    height: 20vh;
    border-radius: 3vw;
    background-color: var(--brand);
    display: flex;
    padding: 2rem 4rem;
    margin-top: 5rem;
}

#botao-frequencia {
    background-color: var(--red);
    border-radius: 0.35rem;
    color: var(--white);
    padding: 0 0.75rem;
    margin-left: 50%;
    height: max-content;
}

.bi {
    font-size: 2rem;
}