* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #22202d;
}

.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.container::before {
    content: '';
    position: absolute;
    width: 2000px;
    height: 2000px;
    border-radius: 50%;

    background: linear-gradient(-45deg, #BE1332, #C3334D);
    top: -10%;
    right: 48%;
    transform: translateY(-50%);

    z-index: 6;
    transition: 2s ease-in-out;
}

.form-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.singin-singup {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 50%;

    display: grid;
    grid-template-columns: 1fr;

    z-index: 5;
    transition: 1.2s 1s ease-in-out;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;

    flex-direction: column;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    transition: 0.2s 0.7s ease-in-out;
}

form.sign-up-form {
    opacity: 0;
    z-index: 5;
    pointer-events: none;
}

form.sign-in-form {
    z-index: 5;
    pointer-events: all;
}


.title {
    font-size: 2.2rem;
    color: #fff;
    margin-bottom: 10px;
    text-align: center;
}

.input-field {
    width: 380px;
    max-width: 100%;
    height: 55px;
    background-color: #f0f0f0;
    margin: 10px 0;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 80%;
    padding: 0 .4rem;
}

.input-field i {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    font-size: 1.1rem;
}

.input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
}

input:focus i {
    color: #4481eb;
}

.input-field input::placeholder {
    color: #aaa;
    font-weight: 500;
}

.input-field.focus i {
    color: #4481eb;
}

.form-a {
    color: #c2c2c2;
    font-size: 16px;
    margin-left: 180px;
}

.btn {
    width: 380px;
    max-width: 100%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 49px;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    transition: .5s;

    background: linear-gradient(-45deg, #BE1332, #C3334D);
    background-size: 200%;
}

.btn:hover {
    background-position: right;
}

.social-text {
    padding: 0.7rem 0;
    font-size: 1rem;
    color: #6166e4;
}

.social-media {
    display: flex;
    justify-content: center;
}

.social-icon {
    height: 46px;
    width: 46px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.45rem;

    color: #fff;
    border-radius: 50%;
    border: 1px solid #fff;
    text-decoration: none;

    font-size: 1.1rem;
    transition: 0.3s;
}

.social-icon:hover {
    color: #4481eb;
    border-color: #4481eb;
}

.panels-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
    z-index: 7;
}

.panel .content {
    color: #fff;
    transition: .9s .6s ease-in-out;
}

.panel h3 {
    font-weight: 600;
    line-height: 1.5;
    font-size: 1.5rem;
}

.panel p {
    font-size: 0.95rem;
    padding: 0.7rem 0;
    color: #fff;
}

.btn.transparent {
    margin: 0;
    background: none;
    border: 2px solid #fff;
    width: 130px;
    height: 41px;

    font-weight: 600;
    font-size: 0.8rem;
}


.left-panel {
    pointer-events: all;
    padding: 3rem 17% 2rem 12%;
}

.right-panel {
    pointer-events: none;
    padding: 3rem 12% 2rem 17%;
}

.image {
    width: 80%;
    transition: 1.1s .4s ease-in-out;
}

.right-panel .content,
.right-panel .image {
    transform: translateX(800px);
}


/*ANIMAÇÕES*/

.container.sign-up-mode::before {
    transform: translate(100%, -50%);
    right: 52%;
}

.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content {

    transform: translateX(-800px);

}

.container.sign-up-mode .right-panel .content,
.container.sign-up-mode .right-panel .image {
    transform: translateX(0px);

}

.container.sign-up-mode .right-panel {
    pointer-events: all;
}

.container.sign-up-mode .left-panel {
    pointer-events: none;
}


.container.sign-up-mode .singin-singup {
    left: 25%;
}

.container.sign-up-mode form.sign-up-form {
    opacity: 1;
    z-index: 2;
    pointer-events: all;
}

.container.sign-up-mode form.sign-in-form {
    opacity: 0;
    z-index: 1;
    pointer-events: none;
}

@media screen and (max-width: 1200px) {
    .image {
        width: 90%;
    }
}

@media screen and (max-width: 1000px) {
    .image {
        width: 100%;
    }
}

@media screen and (max-width: 870px) {

    .container {
        min-height: 800px;
        height: 100vh;
    }

    .container::before {
        width: 1500px;
        height: 1500px;
        left: 30%;
        bottom: 68%;
        transform: translateX(-50%);

        /*Colocando elas para o valor normal do css*/
        right: initial;
        top: initial;

        transition: 1.1s ease-in-out;
    }

    .singin-singup {
        width: 100%;
        left: 50%;
        top: 95%;
        transform: translate(-50%, -100%);
        transition: 1s 0.8s ease-in-out;
        z-index: 11;
    }

    form.sign-in-form {
        margin-top: -10%;
    }

    .panels-container {
        z-index: 10;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 1fr;
    }

    .panel {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 2.5rem;
        gap: 3.5rem;
    }

    .panel h3 {
        font-size: 1.2rem;
    }

    .panel p {
        font-size: 0.7rem;
    }

    .btn.transparent {
        width: 110px;
        height: 35px;
        font-size: 0.7rem;
    }

    .left-panel {
        grid-row: 1 / 2;
    }

    .right-panel {
        grid-row: 3 / 4;
    }

    .image {
        width: 200px;
        transition: 0.9s 0.8s ease-in-out;
    }

    .right-panel .content,
    .right-panel .image {
        transform: translateY(300px);
    }

    .container.sign-up-mode::before {
        transform: translate(-50%, 100%);
        bottom: 32%;
        right: initial;
    }

    .container.sign-up-mode .left-panel .image,
    .container.sign-up-mode .left-panel .content {
        transform: translateY(-300px);
    }

    .container.sign-up-mode .singin-singup {
        top: 5%;
        transform: translate(-50%, 0);
        left: 50%;
    }

}

@media screen and (max-width: 494px) {
    .image {
        width: 150px;
    }
}

@media screen and (max-width: 440px) {
    .panel {
        gap: 1rem;
    }
}

@media screen and (max-width: 398px) {
    .title span {
        display: none;
    }

    form {
        padding: 0 1rem;
    }
}

@media screen and (max-width: 385px) {
    .form-a {
        align-self: flex-end;
        margin-left: 0;
    }
}