/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

/*===== VARIABLES CSS =====*/
:root {
    --red: hsl(349, 68%, 45%);
    --red-dark: hsl(349, 68%, 40%);
    --brand: hsl(0, 0%, 90%);
    --brand-medium: hsl(0, 0%, 90%);
    --brand-dark: hsl(0, 0%, 80%);
    --brand-light: hsl(0, 0%, 95%);
    --white: hsl(0, 100%, 100%);
    --black: hsl(0, 0%, 0%);
}

/*===== GLOBAL =====*/
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

body {
    background-color: var(--brand-light);
    display: flex;
    align-items: center;
    color: var(--black);
}

a {
    text-decoration: none;
    color: var(--black);
}

/*===== DARK THEME =====*/
body.dark-theme {
    --brand: hsl(249, 16%, 15%);
    --brand-medium: hsl(249, 16%, 16.5%);
    --brand-dark: hsl(249, 16%, 12%);
    --brand-light: hsl(249, 15%, 18%);
    color: var(--white);
}

body.dark-theme a {
    color: var(--white);
}

/*===== NAVIGATION =====*/
header {
    width: 20vw;
    height: 100vh;
}

.nav {
    display: grid;
    align-items: center;
    height: 100%;
    justify-content: center;
}

@media screen and (max-width: 1150px) {
    .nav-menu {
        position: fixed;
        left: 0;
        background-color: var(--brand-medium);
        width: 100vw;
        top: -200vw;
        display: grid;
        justify-content: center;
        transition: 0.3s;
        border-radius: 0 0 2.5rem 2.5rem;
        padding-top: 1rem;
    }
}

.nav-logo {
    width: 175px;
}

.nav-list {
    display: grid;
    gap: 1rem;
}

.nav-list+.nav-list {
    align-self: flex-start;
}

.nav-item {
    list-style-type: none;
}

.nav-link {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    width: max-content;
}

.nav-link:hover * {
    color: var(--red-dark);
}

.nav-link-active * {
    color: var(--red);
}

.link-icon {
    font-size: 1.75rem;
}

.link-exit {
    color: var(--red);
}

.link-text {
    font-size: 1.25rem;
    font-weight: 400;
}

.nav-options {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.menu-burger {
    font-size: 2.5rem;
    display: none;
    cursor: pointer;
}

.show-menu {
    top: 10rem;
}

.checkbox {
    width: 2rem;
    height: 1.25rem;
    padding: 0.20rem;
    display: flex;
    align-items: center;
    background-color: transparent;
    border-radius: 1rem;
    border: solid 2px var(--black);
    cursor: pointer;
}

.checkbox::before {
    content: "";
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    transition: transform 200ms;
    background-color: var(--black);
}

.checkbox.on {
    border: 2px solid var(--white);
    padding: 0;
}

.checkbox.on::before {
    background-color: var(--white);
    border: none;
    width: 1rem;
    height: 1rem;
    transform: translateX(0.75rem);
}

#change-theme:hover .checkbox {
    border: 2px solid var(--red);
}

#change-theme:hover .checkbox::before {
    background-color: var(--red);
}

#change-theme:hover .checkbox.on {
    border: 2px solid var(--red);
}

#change-theme:hover .checkbox.on::before {
    background-color: var(--red);
    border: none;
}

@media screen and (max-width: 1150px) {
    body {
        display: grid;
    }

    header {
        width: 100vw;
        height: 10rem;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        padding: 0 2.5%;
        position: fixed;
        width: 95%;
        height: 10rem;
        background-color: var(--brand);
        z-index: 999;
    }

    .nav-logo {
        width: 150px;
    }


    .menu-burger {
        display: block;
    }

    #change-theme {
        position: absolute;
        right: 2.5rem;
        top: 1rem;
    }

    #change-theme .link-text {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .nav-logo {
        width: 125px;
    }

    .link-icon {
        font-size: 1.5rem;
    }

    .link-text {
        font-size: 1rem;
    }
}

@media screen and (max-width: 600px) {
    .nav-logo {
        width: 100px;
    }

    .menu-burger {
        font-size: 2rem;
    }
}

@media screen and (max-width: 492px) {
    .nav-logo {
        width: 75px;
    }

    .menu-burger {
        font-size: 1.5rem;
    }
}

main {
    position: relative;
}

.content-title {
    font-weight: 600;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.content-title-icon {
    font-size: 2rem;
    color: var(--red);
}