/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

/*===== VARIABLES CSS =====*/
:root {
    --red: hsl(349, 68%, 45%);
    --red-dark: hsl(349, 68%, 40%);
    --brand: hsl(0, 0%, 90%);
    --brand-medium: hsl(0, 0%, 90%);
    --brand-dark: hsl(0, 0%, 80%);
    --brand-light: hsl(0, 0%, 95%);
    --white: hsl(0, 100%, 100%);
    --black: hsl(0, 0%, 0%);
}

/*===== GLOBAL =====*/
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

body {
    background-color: var(--brand-light);
    display: flex;
    align-items: center;
    color: var(--black);
}

a {
    text-decoration: none;
    color: var(--black);
}

/*===== DARK THEME =====*/
body.dark-theme {
    --brand: hsl(249, 16%, 15%);
    --brand-medium: hsl(249, 16%, 16.5%);
    --brand-dark: hsl(249, 16%, 12%);
    --brand-light: hsl(249, 15%, 18%);
    color: var(--white);
}

body.dark-theme .nav-logo {
    content: url(../image/Logotipo-dark.png);
}

body.dark-theme a {
    color: var(--white);
}

body.dark-theme #change-contrast .contrast {
    border: 2px solid var(--white);
}

body.dark-theme #change-contrast .contrast::before {
    background-color: var(--white);
}

body.dark-theme #change-contrast:hover .contrast {
    border: 2px solid var(--red);
}

body.dark-theme #change-contrast:hover .contrast::before {
    background-color: var(--red);
}

body.dark-theme #change-contrast {
    display: none;
}

/*===== CONTRAST THEME =====*/
body.body-contrast {
    --brand: hsl(0, 0%, 2.5%);
    --brand-medium: hsl(0, 0%, 3.5%);
    --brand-dark: hsl(0, 0%, 1.5%);
    --brand-light: hsl(0, 0%, 10%);
    background-color: #000;
    color: var(--white);
}

body.body-contrast a {
    color: #c7c700;
    text-decoration: underline;
}

body.body-contrast .nav-logo {
    content: url(../image/Logotipo-contrast.png);
}

body.body-contrast #change-contrast:hover .contrast {
    border: 2px solid #ff0;
}

body.body-contrast #change-contrast:hover .contrast::before {
    background-color: #ff0;
}

body.body-contrast .accessibility * {
    text-decoration: none;
}

body.body-contrast #change-theme {
    display: none;
}

body.body-contrast .nav-link-active *,
body.body-contrast .link-exit,
body.body-contrast a:hover,
body.body-contrast a:hover *,
body.body-contrast .info-test b,
body.body-contrast .materia {
    color: #ff0;
}

body.body-contrast .content-title-icon,
body.body-contrast .modal-content-icon,
body.body-contrast .modal-content-text b {
    color: #c7c700;
}

body.body-contrast .important-announcement {
    color: var(--white);
}

body.body-contrast .modal-button a {
    background-color: #c7c700;
    color: var(--white);
}

/*===== NAVIGATION =====*/
header {
    width: 20rem;
    height: 100vh;
    display: flex;
    align-items: center;
    gap: 2rem;
}

/* Accessibility */
.accessibility {
    background-color: var(--brand-dark);
    height: 100%;
    display: grid;
    align-items: center;
    padding: 0 0.25rem;
    place-items: center;
    z-index: 10;
}

.accessibility-link {
    display: flex;
}

.accessibility-link:hover {
    color: var(--red);
}

.accessibility-icon {
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.accessibility-link sup {
    font-size: 1rem;
}

.contrast {
    width: 1.75rem;
    height: 1.75rem;
    display: flex;
    align-items: center;
    background-color: transparent;
    border-radius: 50%;
    border: solid 2px var(--black);
    cursor: pointer;
}

.contrast::before {
    content: "";
    display: inline-block;
    width: 0.75rem;
    height: 1.5rem;
    border-radius: 50% 0 0 50%;
    transition: transform 200ms;
    background-color: var(--black);
}

.contrast.on {
    border: 2px solid #c7c700;
    padding: 0;
}

.contrast.on::before {
    background-color: #c7c700;
    border: none;
    width: 0.75rem;
    height: 1.5rem;
    border-radius: 0 50% 50% 0;
    transform: translateX(0.75rem);
}

#change-contrast:hover .contrast {
    border: 2px solid var(--red);
}

#change-contrast:hover .contrast::before {
    background-color: var(--red);
}

#change-contrast:hover .contrast.on {
    border: 2px solid var(--red);
}

#change-contrast:hover .contrast.on::before {
    background-color: var(--red);
    border: none;
}

.nav {
    display: grid;
    align-items: center;
    height: 100%;
    justify-content: center;
}

@media screen and (max-width: 1150px) {
    .nav-menu {
        position: fixed;
        left: 0;
        background-color: var(--brand-medium);
        width: 100vw;
        top: -200vw;
        display: grid;
        justify-content: center;
        transition: 0.3s;
        border-radius: 0 0 2.5rem 2.5rem;
        padding-top: 1rem;
    }
}

.nav-logo {
    width: 175px;
    content: url(../../Assets/image/Logotipo.png);
}

.nav-list {
    display: grid;
    gap: 1rem;
}

.nav-list+.nav-list {
    align-self: flex-start;
}

.nav-item {
    list-style-type: none;
}

.nav-link {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    width: max-content;
}

.nav-link:hover * {
    color: var(--red-dark);
}

.nav-link-active * {
    color: var(--red);
}

.link-icon {
    font-size: 1.75rem;
}

.link-exit {
    color: var(--red);
}

.link-text {
    font-size: 1.25rem;
    font-weight: 400;
}

.nav-options {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.menu-burger {
    font-size: 2.5rem;
    display: none;
    cursor: pointer;
}

.show-menu {
    top: 13rem;
}

.checkbox {
    width: 2rem;
    height: 1.25rem;
    padding: 0.20rem;
    display: flex;
    align-items: center;
    background-color: transparent;
    border-radius: 1rem;
    border: solid 2px var(--black);
    cursor: pointer;
}

.checkbox::before {
    content: "";
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    transition: transform 200ms;
    background-color: var(--black);
}

.checkbox.on {
    border: 2px solid var(--white);
    padding: 0;
}

.checkbox.on::before {
    background-color: var(--white);
    border: none;
    width: 1rem;
    height: 1rem;
    transform: translateX(0.75rem);
}

#change-theme:hover .checkbox {
    border: 2px solid var(--red);
}

#change-theme:hover .checkbox::before {
    background-color: var(--red);
}

#change-theme:hover .checkbox.on {
    border: 2px solid var(--red);
}

#change-theme:hover .checkbox.on::before {
    background-color: var(--red);
    border: none;
}

@media screen and (max-width: 1150px) {
    body {
        display: grid;
    }

    header {
        width: 100vw;
        height: 13rem;
        display: grid;
        top: 0;
        z-index: 5;
        position: fixed;
        gap: 0;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        padding: 0 2.5%;
        width: 95%;
        height: 10rem;
        background-color: var(--brand);
        position: relative;
    }

    .accessibility {
        display: flex;
        width: 100vw;
        justify-content: space-around;
        height: 3rem;
        z-index: 5;
        position: relative;
    }

    .nav-logo {
        width: 150px;
    }

    .menu-burger {
        display: block;
    }

    #change-theme {
        position: absolute;
        right: 2.5rem;
        top: 1rem;
    }

    #change-theme .link-text {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .nav-logo {
        width: 125px;
    }

    .link-icon {
        font-size: 1.5rem;
    }

    .link-text {
        font-size: 1rem;
    }
}

@media screen and (max-width: 600px) {
    .nav-logo {
        width: 100px;
    }

    .menu-burger {
        font-size: 2rem;
    }
}

@media screen and (max-width: 492px) {
    .nav-logo {
        width: 75px;
    }

    .menu-burger {
        font-size: 1.5rem;
    }
}

main {
    position: relative;
    margin: 15rem 0 0;
}

.content-title {
    font-weight: 600;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.content-title-icon {
    font-size: 2rem;
    color: var(--red);
}