main {
    display: grid;
    gap: 2.5rem;
}

.content {
    display: flex;
    justify-content: space-between;
    width: 75vw;
    align-items: center;
    gap: 5rem;
}

.content-info {
    display: grid;
    gap: 2rem;
    background-color: var(--brand);
    padding: 1.5rem;
    border-radius: 1rem;
}

.content-title {
    justify-self: center;
    text-align: center;
}

.info-user-text b {
    font-weight: 500;
}

.content-user {
    display: grid;
    gap: 1rem;
}

.user-img {
    width: 200px;
    justify-self: center;
    border-radius: 50%;
}

.content-office {
    background-color: var(--brand);
    border-radius: 1rem;
    display: grid;
    gap: 1rem;
}

.office-title {
    background-color: var(--brand-dark);
    border-radius: 1rem 1rem 0 0;
    padding: 1rem;
    text-align: center;
}

.office-title-text {
    font-weight: 600;
}

.office-text {
    padding: 1rem;
    display: grid;
    gap: 1rem;
}

.office-text span {
    display: grid;
}

.office-text span b {
    font-weight: 500;
}

.office-link {
    color: var(--red);
    width: max-content;
}

.office-link:hover {
    color: var(--red-dark);
}

body.dark-theme .office-link {
    color: var(--red);
}

body.dark-theme .office-link:hover {
    color: var(--red-dark);
}

.office-footer {
    background-color: var(--brand-dark);
    border-radius: 0 0 1rem 1rem;
    padding: 1rem;
    text-align: center;
}

@media screen and (max-width: 1150px) {
    main {
        justify-content: center;
    }

    .content {
        width: 95vw;
        margin: 2.5rem 0;
    }
}

@media screen and (max-width: 825px) {
    .content {
        display: grid;
        gap: 2.5rem;
        width: 90vw;
        justify-content: center;
    }
}